html{
    background: url(/src/Background.jpeg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    margin: auto;
    font-family: arial black;
    text-align: center;
    color: white;
    font-size: 72px;
    width: 50%;
    padding: 100px 20px 20px 50px;
    text-shadow: 5px 5px 4px black;
}


#Socrates img {
    width: 10%;
    height: 10%;

}

/* 1.6428 */

#Socrates {
    position: fixed;
    top: 46.692999999999984px;
    left: 1362.208px;
    opacity: 30%;
}

#searchResultArea {
    background-color: rgb(0, 0, 0);
    
    height:200px;
    overflow-y: auto;
    color: white;
}

#searchResultArea ul {
    list-style: none;
    padding-left: 0;
    transition: 0.5s;
    border-color: rgb(255, 255, 255);
    border-bottom: 1px;
    border-bottom-style: solid;
    font-family: felipa;
    padding-bottom:10px;
    font-size: 20px;
    padding-left:5px ;

}

#searchResultArea :hover {
    list-style: none;
    padding-left: 15px;
    transition: 0.5s cubic-bezier(0.65, 0.18, 0.17, 1);
    
}


#black-box{
    background-color: black;
    border-radius: 20px;
    width: 50%;
    margin-left: 25%;
    padding: 10px;
}

#api-credits{
    color: white;
}

h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    margin-bottom: 0px;
}

h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
    margin-top: 0px;
}

tr {
    height: 270px;
}

#random-quote-cell{
    border: solid 5px white;
    width: 60%;

}

#quote-container {
    font-family: felipa;
    text-align: center;
    font-size: 1.5em;
    color: white;
    padding: 30px;

}

#name-container {
    font-family: felipa;
    color: white;
    text-align: right;
    vertical-align: bottom;
    padding-right:5px;
}

#random-button {
    text-align: center;
    margin-top: 5px;
}

#image-container{
 background-color: black;
}

/* #author-image{
    width: 368.203px;
    height: 376.531px;
}  */



#black-box img {
    display: block;
    width: 100%;
    background-color: white;
} 





