html{
    background: url(/src/Background.jpeg) repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    margin: auto;
    text-align: center;
    color: white;
    font-size: 72px;
    width: 50%;
    padding: 100px 20px 20px;
    text-shadow: 5px 5px 4px black;
}

#author {
    background-color: white;
}

#Socrates img {
    width: 10%;
    height: 10%;

}

/* 1.6428 */

#Socrates {
    position: fixed;
    top: 46.692999999999984px;
    left: 1362.208px;
    opacity: 30%;
}

#searchResultArea {
    background-color: white;
    border-style: none;
}

#searchResultArea ul {
    list-style: none;
    padding-left: 0;
    transition: 0.5s;
}

#searchResultArea :hover {
    list-style: none;
    padding-left: 0;
    transition: 0.5s cubic-bezier(0.65, 0.18, 0.17, 1);
    border-color: blue;
    border-bottom: 5px;
    border-bottom-style: solid;
}


